general_settings:
  database_connection_pool_limit: 20
  store_prompts_in_spend_logs: true
  store_model_in_db: true

model_list:
  - model_name: gemini-2.5-pro
    litellm_params:
      model: vertex_ai/gemini-2.5-pro
      vertex_project: sunivy-watch-the-billing
      vertex_location: us-central1
  - model_name: gemini-3-pro-preview
    litellm_params:
      model: vertex_ai/gemini-3-pro-preview
      vertex_project: sunivy-watch-the-billing
      vertex_location: global
  - model_name: gemini-2.5-flash
    litellm_params:
      model: vertex_ai/gemini-2.5-flash
      vertex_project:  sunivy-watch-the-billing
      vertex_location: us-central1
  - model_name: claude-3-7-sonnet
    litellm_params:
      model: vertex_ai/claude-3-7-sonnet
      vertex_project:  sunivy-watch-the-billing
      vertex_location: us-east5
  - model_name: claude-opus-4-5
    litellm_params:
      model: vertex_ai/claude-opus-4-5
      vertex_project:  sunivy-watch-the-billing
      vertex_location: global
  - model_name: claude-opus-4-5-20251101
    litellm_params:
      model: vertex_ai/claude-opus-4-5
      vertex_project:  sunivy-watch-the-billing
      vertex_location: global
  - model_name: llama-3-3
    litellm_params:
      model: vertex_ai/meta/llama-3.3-70b-instruct-maas
      vertex_project:  sunivy-watch-the-billing
      vertex_location: us-central1

litellm_settings:
  vertex_ai_safety_settings:
    - category: HARM_CATEGORY_HARASSMENT
      threshold: BLOCK_NONE
    - category: HARM_CATEGORY_HATE_SPEECH
      threshold: BLOCK_NONE
    - category: HARM_CATEGORY_SEXUALLY_EXPLICIT
      threshold: BLOCK_NONE
    - category: HARM_CATEGORY_DANGEROUS_CONTENT
      threshold: BLOCK_NONE



