general_settings:
  database_connection_pool_limit: 20
  store_prompts_in_spend_logs: true
  store_model_in_db: true

model_list:
  - model_name: gemini-2.0-flash-001
    litellm_params:
      model: vertex_ai/gemini-2.0-flash-001
      vertex_project: sunivy-for-example
      vertex_location: us-central1
  - model_name: gemini-2.5-pro
    litellm_params:
      model: vertex_ai/gemini-2.5-pro-preview-03-25
      vertex_project: sunivy-for-example
      vertex_location: us-central1
  - model_name: gemini-2.5-flash
    litellm_params:
      model: vertex_ai/gemini-2.5-flash-preview-04-17
      vertex_project: sunivy-for-example
      vertex_location: us-central1
  - model_name: claude-3-7-sonnet
    litellm_params:
      model: vertex_ai/claude-3-7-sonnet
      vertex_project: sunivy-for-example
      vertex_location: us-east5

litellm_settings:
  vertex_ai_safety_settings:
    - category: HARM_CATEGORY_HARASSMENT
      threshold: BLOCK_NONE
    - category: HARM_CATEGORY_HATE_SPEECH
      threshold: BLOCK_NONE
    - category: HARM_CATEGORY_SEXUALLY_EXPLICIT
      threshold: BLOCK_NONE
    - category: HARM_CATEGORY_DANGEROUS_CONTENT
      threshold: BLOCK_NONE



